.step {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    height: 80px;
}

.step__icon {
    padding: 20px;
}

.step:nth-child(even) {
    justify-content: flex-end;
}

.step:nth-child(even) .step__icon {
    order: 1;
}

.step:nth-child(even) .step__arrow {
    order: -1;
}

.step__arrow {
    width: auto;
    height: 60px;
    margin: 50px 20px 0;
}
