.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form--columns {
    display: flex;
}

.contact__form--row {
    display: flex;
    flex-direction: column;
}

.contact__form--row > *,
.contact__form--textarea {
    margin: 3px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    min-width: 197px;
}

.contact__form--row > *:focus,
.contact__form--textarea:focus {
    outline: none;
}

.contact__form--textarea::placeholder {
    font-family: 'Noto Sans', sans-serif;
}

.contact__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contact__form--row:last-child {
    flex-grow: 1;
}

.contact__form--button {
    background-color: #546e7a;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: inherit;
    width: 150px;
    align-self: center;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}

.contact__form--button:focus {
    outline: none;
}

.contact__form--textarea {
    resize: none;
    flex-grow: 1;
    width: 400px;
}

@media (max-width: 425px) {
    .contact__form--columns {
        flex-direction: column;
    }

    .contact__form--textarea {
        width: 100%;
    }

    .contact__form--row > * {
        width: 100%;
    }
}
