@font-face {
    font-family: 'Noto Sans';
    src: url('assets/font/NotoSans-Regular.ttf');
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.app {
    display: flex;
    justify-content: center;
}

.app > * {
    padding: 30px;
}
